/* Zadarma callback widget */
.wrapper-zadarma-api {
  position: fixed;
  right: 50px;
  top: 200px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  opacity: 1;
  z-index: 99990;
}

.wrapper-zadarma-api .modal-bg {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99991;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .35);
  cursor: pointer;
  filter: blur(2px);
}

.wrapper-zadarma-api .modal-content {
  display: block;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 99992;
  width: 280px;
  margin: -80px 0 0 -140px;
  height: auto;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 12px #cecece;
  background-color: white;
  box-sizing: content-box;
  opacity: 0.95;
  color: #000;
  font-size: 14px;
}

.wrapper-zadarma-api .modal-content .modal-title {
  color: #000;
  font-size: 21px;
  padding-right: 25px;
  font-weight: bold;
}

.wrapper-zadarma-api .modal-content .zadarma-modal-description {
  font-size: 14px;
  margin-top: 10px;
}

.wrapper-zadarma-api .modal-content .error-message {
  color: red;
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
}

.wrapper-zadarma-api .modal-content .success-message {
  color: #169f0d;
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
}

.wrapper-zadarma-api .modal-content .form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  color: #000;
  font-size: 14px;
}

.wrapper-zadarma-api .modal-content .form > * {
  margin-top: 5px;
  margin-bottom: 5px;
}

.wrapper-zadarma-api .modal-content .close {
  z-index: 99992;
  cursor: pointer;
  text-decoration: none;
  color: grey;
  position: absolute;
  font-size: 21px;
  top: 10px;
  right: 10px;
}

.wrapper-zadarma-api .zadarma-link {
  border-radius: 50%;
  background-clip: padding-box;
  background-color: rgb(255, 0, 0);
  width: 70px;
  height: 70px;
  box-shadow: 0 0 8px 6px #000;
  opacity: 0.5;
}

.wrapper-zadarma-api .zadarma-link:focus,
.wrapper-zadarma-api .zadarma-link:hover {
  opacity: 1;
}

.wrapper-zadarma-api .zadarma-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAnCAYAAADkUNMNAAABu0lEQVR4AbXXA8zeQByA8dm27S2aFyezGc0KZgWz7WC2bdu27S2azfa/Z/uGyyW9t9fL1+QXvu9T3rWXIGg79+5dUSzCDbzCsAQumxLuhWcQxUsUcYmmxxYt+gM+BO2ihtPiIETjw4NgNRLZhlNgFQQ6T4l/Rw7beGtIjPgPCDrYHvUdQ9zXrvtWm3hnSAzflSN/ikJh4ytDxaEcfZuw8e0Q+JCQ6oaN77GI70Zbm2t+1BD/jIvohfJIavsYXjDER7nOI6cC4j6aucb3QeBBNH1c48sg+AHR9HeNTzXEJ7rGBxlu6C4kd4nXxg940HfwCHld4gXxWo8r6rrEU+ASBN/j41mfbngcLyGJS7wpJMBHVHOJ58NTSIDFrpdmrSH+FiVd4g3xDRJglUs8CY4Y4q9Q3mUHbSEG+5Fc+08RdMNYlDHF0+AsxGASyqMjduAF5I/zSGf9WGq+QBTqy7utKZ4QayAWPCU+F4lMOyiHt5AIXiJbqCnBkg9BrVjxdFgXMb4+zKOZFdcjxB8iS5gdVMcXy7iPFjaz5oMwYcVgm9GbA/1wAxLDKVSJurypj0FYjI3YhFnojfp/f/sTcqQ18MFu2boAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-position: center center;
}

.wrapper-zadarma-api .modal-content .form button:not(:disabled) {
  background-color: #ffcc00;
  border-color: #ffcc00;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
}

.wrapper-zadarma-api .modal-content .form button:disabled {
  background: #b6b6b6;
  cursor: not-allowed;
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
  .wrapper-zadarma-api {
    right: 30px;
    top: 150px;
    width: 50px;
    height: 50px;
  }

  .wrapper-zadarma-api .zadarma-link {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 669.98px) {
  .wrapper-zadarma-api {
    right: 30px;
    top: 150px;
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 379.98px) {
  .wrapper-zadarma-api {
    right: 15px;
    top: 150px;
    width: 40px;
    height: 40px;
  }

  .wrapper-zadarma-api .zadarma-link {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 960px) {
  .wrapper-zadarma-api .modal-content {
    width: 550px;
    margin: -120px 0 0 -275px;
  }

  .wrapper-zadarma-api .modal-content .form .vue-tel-input {
    width: 370px;
  }
}
